<div class="col">
    <div class="card">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <div class="d-grid gap-2">
                <button type="button" (click)="verHeroe()" class="btn btn-outline-primary btn-block">
                    Ver mas...
                </button>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ heroe.aparicion }}</small>
        </div>
    </div>
</div>