<div class="container mt-3">
    <h1>Buscadar: <small>{{ termino }}</small></h1>
    <hr>

    <div *ngIf="heroes.length == 0" class="alert alert-info animated fadeIn" role="alert">
        no existen resultados para la busqueda {{ termino }}
    </div>

    <div *ngIf="heroes.length > 0" class="row row-cols-1 row-cols-md-3 g-4">        
        <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="foo" [index]="foo.idx" *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta>
    </div>
</div>